/* -------------------------------- */
/* UTILITY */

.wid-80 {
    margin: auto;
    width: 80%;
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 150px;
}

i {
    color: white;
    margin-left: 10px;
}

a {
    outline: none;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 8px;
  }

.mrg-10 {
    margin-bottom: 10px;
}

body {
    font-family: sans-serif;
}
/* -------------------------------- */
/* HEADER */

header {
    /* max-height: 50px; */
    background-color: rgb(206, 141, 21);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}



/* -------------------------------- */
/* MAIN */

main {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 80px;
}

section {
    height: 670px; /*da togliere*/
    width: 400px;
    margin: 30px 2px;
    position: relative;
}



.card {
    width: 400px;
    height: 577px;
    background: url(../img/1.webp) no-repeat;
    display: inline-block;
    background-size: contain;
}
.card:hover {
    background: url(../img/1b.webp) no-repeat;
    background-size: contain;
}

.card2 {
    width: 400px;
    height: 577px;
    background: url(../img/2.webp) no-repeat;
    display: inline-block;
    background-size: contain;
}
.card2:hover {
    background: url(../img/2b.webp) no-repeat;
    background-size: contain;
}

.card3 {
    width: 400px;
    height: 577px;
    background: url(../img/3.webp) no-repeat;
    display: inline-block;
    background-size: contain;
}
.card3:hover {
    background: url(../img/3b.webp) no-repeat;
    background-size: contain;
}

.card4 {
    width: 400px;
    height: 577px;
    background: url(../img/4.webp) no-repeat;
    display: inline-block;
    background-size: contain;
}
.card4:hover {
    background: url(../img/4b.webp) no-repeat;
    background-size: contain;
}

.card5 {
    width: 400px;
    height: 577px;
    background: url(../img/5.webp) no-repeat;
    display: inline-block;
    background-size: contain;
}
.card5:hover {
    background: url(../img/5b.webp) no-repeat;
    background-size: contain;
}

.card6 {
    width: 400px;
    height: 577px;
    background: url(../img/6.webp) no-repeat;
    display: inline-block;
    background-size: contain;
}
.card6:hover {
    background: url(../img/6b.webp) no-repeat;
    background-size: contain;
}

/* .flex-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
} */

#price {
    display: inline-block;
}

/* style text */
.p-brand {
    color: rgb(56, 56, 56);
}

.p-dress {
    font-weight: bolder;
}

.p-price {
    font-weight: bolder;
    color: red;
}

.p-dis-price {
    text-decoration: line-through;
}

/* Overlay */

.fav {
    color: black;
    background-color: white;
    padding: 6px 8px;
    position: absolute;
    right: 0;
    top: 8px;
}

.fav:hover {
    color: red;
}

.span-price {
    background-color: red;
    color: white;
    padding: 3px 8px;
    position: absolute;
    bottom: 120px;
}

.span-dis-price {
    background-color: rgb(2, 139, 0);
    color: white;
    padding: 3px 8px;
    position: absolute;
    bottom: 120px; 
    left: 48px;
}

.span-dis-price6 {
    background-color: rgb(2, 139, 0);
    color: white;
    padding: 3px 8px;
    position: absolute;
    bottom: 120px; 
    left: 0px;
}

span {
    font-weight: bold;
    font-size: small;
}

/* -------------------------------- */
/* FOOTER */

footer {
    background-color: rgb(60, 60, 60);
    color: white;
    min-height: 60px;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999; */
}

#container-footer {
    position: relative;
}

#footer-right {
    justify-content: end;
}

#p {
 padding-left: 20px;
}

#info {
    font-size: x-small;
}

strong {
    font-size: 18px;
    font-family: sans-serif;
}